// cscenter.

.body.cscenter {
  h3 {
    float: left;
    width: auto;
    line-height: 32px;
  }

  .pagination {
    float: left;
    width: auto;
    margin-left: 20px;

    span {
      display: inline-block;
      margin: 0 15px;
      font-size: 13px;
      line-height: 30px;
      letter-spacing: 1px;
      color: #344054;
    }
  }

  .inputbox {
    display: inline-block;
    float: right;
    width: auto;
    height: auto;

    .dropdown {
      float: left;
      margin-right: 5px;

      button {
        border-radius: 5px !important;
      }
    }

    .btn_search {
      margin-right: 5px;
    }

    .period {
      float: left;
      margin-right: 10px;

      button {
        border-right: 0;
        border-radius: 0;
      }

      button:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      button:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid #ccc;
      }
    }
  }

  .tablebox {
    display: inline-block;
    width: 100%;
    height: calc(100% - 50px);
    background: #fff;
    border-radius: 7px !important;
    overflow: hidden;

    table {
      width: 100%;
    }

    tr:hover td {
      font-weight: 500;
      color: #081a51;
    }

    td {
      height: auto;
      padding: 10px 20px;
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 300px;
      text-align: center;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 250px;
      text-align: center;
    }
  }

  .toggle-row {
    background-color: #f3f3f3;

    td {
      position: relative;
      padding: 15px 25px;
      vertical-align: top;
    }

    td:nth-child(2) {
      text-align: left;
    }

    pre {
      font-size: 14px;
      font-family: 'Noto Sans KR', sans-serif;
      color: #333;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: top;
    }

    img[src=''] {
      display: none;
    }

    td:nth-child(1):after {
      content: '';
      position: absolute;
      top: 15px;
      left: 25px;
      display: none;
      width: calc(100% - 50px);
      height: 200px;
      font-size: 15px;
      text-align: center;
      color: #fff;
      background: #000 url('../images/icon_search.svg') no-repeat center center;
      background-size: 30px 30px;
      opacity: 0.6;
      cursor: pointer;
    }

    td:nth-child(1):hover:after {
      display: block;
    }

    td.empty:nth-child(1):hover:after {
      display: none !important;
    }
  }
}

.body.cscenter.faq,
.body.cscenter.manual {
  th:nth-child(1),
  td:nth-child(1) {
    width: 400px !important;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: unset !important;
  }

  td:nth-child(2) {
    text-align: left !important;
  }
}

.body.cscenter.main {
  h3 {
    display: block;
    float: left;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: 600;
  }

  .informbox {
    float: right;
    margin-bottom: 0;
    text-align: right;
    line-height: 17px;

    dd {
      font-size: 15px;
    }

    dt {
      font-size: 17px;
    }
  }

  .section1,
  .section2 {
    display: block;
    float: left;
    width: calc(50% - 15px);
    max-height: 60%;
  }

  .section1 {
    margin-right: 30px;
  }

  .tablebox1,
  .tablebox2,
  .tablebox3 {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);

    table {
      display: block;
      margin: 18px 20px;
      width: calc(100% - 40px);
      height: calc(100% - 90px);
      border-radius: 0 !important;
      box-shadow: unset !important;
      overflow-y: auto;

      tbody {
        display: table;
        width: 100%;
      }

      tr {
        cursor: pointer;
      }

      td {
        padding: 10px;
        height: 30px;
        line-height: normal;
        border-right: 0 !important;
        font-size: 14px;
        font-weight: 400;
        color: #444;

        i {
          display: inline-block;
          margin-right: 10px;
          padding: 0 6px 2px 5px;
          font-size: 12px;
          font-style: unset;
          text-align: center;
          color: #fff;
          border-radius: 3px;
          background-color: #51cbff;
        }
      }

      td:last-child {
        width: 100px;
        text-align: center;
      }
    }
  }

  h4 {
    margin-bottom: 0;
    padding: 15px 20px;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 1px solid #081a51;
    color: #081a51;

    img {
      float: left;
      margin-right: 5px;
      width: 17px;
      height: auto;
    }

    .btn_more {
      float: right;
    }
  }
}
