// form_management.

.body.form_management {
  .nav-tabs .nav-item:nth-child(2),
  .nav-tabs .nav-item:nth-child(3) {
    float: right;
  }

  h3 {
    float: left;
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }

  .section1 {
    float: left;
    width: calc(20% - 30px);
    height: 100%;
    margin-right: 30px;

    .ag-root.ag-layout-normal {
      border: 0;
    }

    .ag-theme-alpine {
      width: 100%;
      height: calc(100% - 90px) !important;
      overflow: auto;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
    }

    .ag-theme-alpine > div > .ag-root-wrapper {
      height: 100%;
    }
    .ag-header {
      display: none;
    }

    .ag-ltr .ag-cell {
      padding: 0 10px !important;
      line-height: 40px;
    }

    h3 + button {
      float: right;
      margin-top: -6px;
    }
    .btnbox {
      margin-top: 10px;

      .btn_blue {
        float: left;
      }

      .btn_red {
        float: right;
      }
    }

    .btn_onoff {
      display: block;
      margin: 7px 0;
      padding: 5px 0 2px;
      width: 50px;
      height: auto;
      font-size: 0;
      line-height: 13px;
      text-align: center;
      color: #fff;
      background-color: #081a51;
      border-radius: 5px;
      overflow: hidden;
      text-overflow: unset;
    }

    .btn_onoff.btn_on::before {
      content: '사용';
      font-size: 13px;
    }

    .btn_onoff.btn_off::before {
      content: '미사용';
      font-size: 13px;
    }
  }

  .section2 {
    float: right;
    width: 80%;
    height: 100%;
    overflow: visible;

    h3 + button {
      float: right;
      margin-top: -7px;
    }

    .tablebox {
      height: calc(100% - 90px);
      padding: 20px;

      p {
        margin-bottom: 20px;
        padding-bottom: 20px;
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 1px;
        border-bottom: 1px solid #ccc;

        span {
          font-weight: 600;
        }
      }

      .innerbox {
        position: relative;
        width: 100%;
        height: calc(100% - 70px);
        overflow-x: auto;
        border: 1px solid #ccc;
      }

      .innerbox:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 41px;
        height: 100%;
        z-index: 0;
      }

      .table_front {
        display: block;
        min-width: 100%;
        width: auto;
        text-align: center;
        border-bottom: 0;
        background-color: transparent;
        z-index: 1;

        tbody {
          display: table;
          width: 100%;
        }

        tr:nth-child(1) {
          background-color: #efefef;
          border-bottom: 1px solid #ccc;

          td:nth-child(1) {
            background: #fff url(../images/icon_edge_br.svg) no-repeat top right;
            background-size: 29px;
            border-right: 1px solid #ccc;
          }
        }

        td {
          min-width: 80px;
          height: 30px;
          border: 0;
          border-right: 1px dotted #ccc;
          border-bottom: 1px dotted #ccc;
          white-space: nowrap;
        }

        td:nth-child(1) {
          width: 40px !important;
          min-width: 40px !important;
          max-width: 40px !important;
          border-right-style: solid;
        }
      }
    }
  }

  .section3 {
    float: left;
    width: 80%;
    height: 100%;
    overflow: visible;

    table {
      width: 100%;
    }

    table.tbody {
      height: calc(100% - 124px) !important;
    }

    th,
    td {
      position: relative;
      padding: 10px 0;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
    }

    td.required,
    td.required * {
      font-weight: 400;
    }

    .leftbox {
      float: left;
      width: 100%;
      height: 100%;
      margin-right: 30px;

      .inputbox {
        display: inline-block;
        float: left;
        margin-top: -8px;
        margin-left: 10px;

        input {
          float: left;
          width: 280px;
        }

        button {
          float: left;
          margin-left: 5px;
        }
      }

      .btn_add {
        float: right;
        margin-top: -7px;
        width: 115px;
      }

      table tr:hover,
      table tr:focus-within,
      table tr.focus {
        background-color: #fff !important;
      }

      th:nth-child(1) {
        width: 50%;
      }

      td:nth-child(1) {
        width: 50%;
        font-size: 15px;
        font-weight: 500;
        color: #333;
      }

      .tbody td:nth-child(2) {
        border-right: 1px dotted #ccc;

        span.tag {
          display: inline-block;
          margin-left: 10px;
          padding: 5px 10px 6px;
          width: auto;
          color: #081a51;
          font-size: 12px;
          line-height: 12px;
          background-color: #f9f9f9;
          border-radius: 5px;
        }
      }

      .tbody td:nth-child(3) {
        border-top: 1px dotted #ccc;
      }

      .td_label,
      .td_click {
        padding: 7px 10px;
      }

      td input {
        width: 50px;
        margin-right: 5px;
      }

      .td_clicked {
        padding: 7px 10px;

        b {
          display: block;
          width: 100%;
        }

        span {
          display: block;
          width: 100%;
          padding-left: 5px;
          font-size: 13px;
          color: #888;
        }
      }

      .td_click Button {
        line-height: 40px;
        color: #888;
      }

      .td_click Button,
      .td_clicked Button,
      .td_label Button {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 15px;
        font-weight: 500;
        border: 0;
        background-color: transparent;
      }

      .td_click Button:hover,
      .td_clicked Button:hover {
        opacity: 1;
        background-color: transparent;
      }

      .td_label input,
      .td_label label,
      .td_label .btn_tip {
        display: inline;
      }

      .td_label label {
        margin: 0 7px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
      }

      .td_label.required label {
        color: #d20000;
      }

      .td_label input[type='checkbox']:before {
        display: inline-block;
      }

      .td_label input[type='checkbox'] + label {
        color: #777;
      }

      .td_label input[type='checkbox']:checked + label {
        color: #d20000 !important;
      }
    }

    .rightbox {
      float: right;
      padding-top: 32px;
      width: calc(40% - 30px);
      height: calc(100% - 51px);

      .btn_green {
        float: left;
        margin-top: -39px;
      }

      .inputbox {
        float: right;
        margin: -39px 5px 9px 0;
      }

      table.tbody {
        border-top-left-radius: 7px !important;
        border-top-right-radius: 7px !important;
        border: 1px solid #ccc;
      }

      th:nth-child(1),
      td:nth-child(1) {
        width: 50px;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 420px;
      }

      td:nth-child(1) {
        color: #999;
      }

      td:nth-child(2) {
        padding: 5px 20px;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: #333;
        p {
          margin-bottom: 0;
          font-size: 13px;
          color: #999;
        }
      }
    }
  }

  .section3 {
    .leftbox.read {
      width: 100%;

      .tbody,
      tr {
        background-color: #fff;
      }

      th:nth-child(1),
      td:nth-child(1) {
        width: 40%;
        font-weight: 400;
      }

      td:nth-child(2) {
        // width: 40%;
        color: #333;
      }
    }

    .leftbox.read + .rightbox {
      display: none;
    }

    .leftbox.add {
      width: 60%;

      table {
        table-layout: fixed;
      }

      table.tbody,
      tr {
        background-color: #aaa;
      }

      td.notdel .btn_del {
        display: none;
      }

      th:nth-child(1),
      td:nth-child(1) {
        width: 320px;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 400px;
      }

      th:nth-child(3),
      td:nth-child(3) {
        width: 120px;
        padding: 0 7px;

        input {
          margin: 0 5px;
          width: 60px;
        }
      }

      th:nth-child(4),
      td:nth-child(4) {
        width: auto !important;
        padding: 0 7px;
      }

      th:last-child {
        width: 8px;
      }
    }

    .leftbox.add + .rightbox {
      table.tbody {
        height: calc(100% - 5px) !important;
      }

      .btn_excel_click {
        width: 100% !important;
        height: 100% !important;
        text-align: center;
        border-radius: 10px;

        img {
          display: block;
          margin: 0 auto;
          width: 150px;
          height: auto;
        }

        span {
          display: block;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 500;
          color: #444;
        }
      }

      .upload_excel_complete {
        width: 100% !important;
        height: 100% !important;
        text-align: center;
        opacity: 0.4;

        img {
          display: block;
          margin: 0 auto;
          width: 150px;
          height: auto;
        }

        span {
          display: block;
          margin-top: 20px;
          font-size: 16px;
          font-weight: 500;
          color: #444;
        }
      }
    }
  }

  .section4 {
    float: left;
    margin-left: 30px;
    width: 30%;
    height: 100%;
    overflow: visible;
  }

  .section2:empty,
  .section3:empty,
  .section4:empty {
    display: none;
  }
  .form-add-transition-appear {
    transform: translateX(100%);
  }
  .form-add-transition-appear-active {
    transform: translateX(0);
    transition: all 0.4s ease;
  }
  .form-add-transition-enter {
    transform: translateX(100%);
  }
  .form-add-transition-enter-active {
    transform: translateX(0);
    transition: all 0.4s ease;
  }
  .form-add-transition-exit {
    transform: translateX(0);
  }
  .form-add-transition-exit-active {
    transform: translateX(100%);
    transition: all 0.4s ease;
  }
}

.modal.add_item {
  .modal-body {
    padding: 24px;
  }

  button {
    margin: 3px;
  }
}
