// Home.

.body.home {
  background-color: #fff !important;

  .bannerslide {
    width: 100%;

    .slick-arrow {
      width: 40px;
      height: 40px;
      z-index: 10;
    }

    .slick-prev {
      left: 20px;
    }

    .slick-next {
      right: 20px;
    }

    .slick-prev:before,
    .slick-next:before {
      font-size: 40px;
    }

    .bannerwrap {
      position: relative;

      dl {
        position: absolute;
        top: 35%;
        left: 7%;
        width: 100%;
        height: auto;
        text-align: left;
        color: #081a51;

        dd {
          font-size: 16px;
          font-weight: 600;
        }

        dt {
          margin: 20px 0 30px;
          font-size: 36px;
          line-height: 45px;
          font-weight: 700;
        }

        .btn_start {
          font-size: 0;

          button {
            padding: 0;
            width: auto;
            height: 60px;
            border: 0;
            background: transparent;

            img {
              width: auto;
              height: 100%;
            }
          }
        }
      }

      dl.txt_fff {
        color: #fff;
      }

      dl.right {
        left: unset;
        right: 7%;
        text-align: right;
      }
    }
  }

  section {
    display: inline-block;
    padding: 100px 0;
    width: 100%;
    height: auto;
    text-align: center;

    h3 {
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      color: #081a51;
    }

    h4 {
      margin-bottom: 50px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #8594a9;
    }
  }

  .main01 {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fff;

    h4 {
      margin-bottom: 70px;
    }

    .slider-for {
      display: block;
      float: left;
      width: 50%;
      height: auto;

      li {
        display: none;
      }

      li.on {
        display: block;
      }
    }

    .slider-nav {
      display: block;
      float: right;
      padding-left: 55px !important;
      width: 50%;
      height: auto;

      li {
        top: unset !important;
        display: block;
        margin: 10px 0;
        padding: 20px 30px;
        width: 100%;
        height: auto;
        font-size: 18px;
        font-weight: 700;
        color: #3b4859;
        text-align: left;
        opacity: 1 !important;
        transition: unset !important;
        cursor: pointer;

        p {
          margin-top: 10px;
          margin-bottom: 0 !important;
          font-size: 16px;
          font-weight: 400;
          color: #8594a9;
        }
      }

      li.on {
        color: #0c47ad;
        border: 1px solid #377fff;
        border-radius: 10px;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
      }

      li:hover {
        border-radius: 10px;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .main01.mobile {
    > ul {
      margin-bottom: 0 !important;
    }

    > ul li {
      margin-bottom: 50px;
      text-align: left;
      font-size: 1.8rem;
      line-height: 1.8rem;
      font-weight: 700;
      color: #081a51;
      border-bottom: 1px dashed #ccc;

      p {
        margin: 15px 0 30px;
        font-size: 1.3rem;
        line-height: 1.9rem;
      }

      img {
        margin-bottom: 50px;
      }
    }

    > ul li:last-child {
      margin-bottom: 0 !important;
      border-bottom: 0;

      img {
        margin-bottom: 0 !important;
      }
    }
  }

  .main02 {
    background-color: #f8f9ff !important;

    ul > li {
      position: relative;
      display: block;
      margin: 0 auto 20px;
      padding: 0 20px 0 60px;
      width: 900px;
      height: auto;
      text-align: left;
      border-radius: 20px;
      background-color: #fff;
    }

    ul > li::before {
      position: absolute;
      top: 21px;
      left: 20px;
      content: '';
      display: block;
      width: 26px;
      height: 26px;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/icon_question_gray.png);
    }

    ul > li:nth-child(1)::before {
      top: 22px;
      background-image: url(../images/icon_kakaochannel.png);
    }

    ul > li:nth-child(2)::before {
      background-image: url(../images/icon_youtube.png);
    }

    ul > li:nth-child(3)::before {
      background-image: url(../images/icon_question_blue.png);
    }

    dl {
      margin-bottom: 0;
      padding: 22px 0;

      dt {
        width: calc(100% - 50px);
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #050708;
      }

      dd {
        width: calc(100% - 50px);
        margin-top: 7px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 20px;
        color: #48525f;
      }

      .dd_btn_down {
        margin-top: 15px;
      }

      .dd_btn {
        position: absolute;
        top: 20px;
        right: 20px;
        margin: 0;
        width: 50px;

        button {
          padding: 0;
          width: 100%;
          min-width: 50px;
          min-height: 50px;
          border: 0;
          border-radius: 999px;

          img {
            margin: 0 auto;
            width: 16px;
          }
        }

        button:hover {
          border: 1px solid #aeccff;
          background-color: #fff;
        }

        .btn_down {
          margin-left: -180px;
          margin-right: 20px;
          padding: 6px 0;
          width: 160px;
          height: auto;
          min-height: unset;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #fff;
          font-size: 13px;
        }

        .btn_down:hover {
          border: 1px solid #ccc;
          background-color: #f5f9ff;
        }
      }

      .dd_btn.kakaotalk {
        button {
          img {
            min-width: 50px;
          }
        }

        button:hover {
          border: 0;
        }
      }
    }

    dl.line {
      display: inline-block;
      width: 50%;
      height: auto;
      border-top: 1px dotted #ccc;
      border-right: 1px dotted #ccc;

      dt,
      dd {
        display: inline-block;
        margin-top: 0;
        width: auto;
        height: auto;
        float: left;
      }

      dd {
        margin-left: 20px;
      }
    }

    dl.line:last-child {
      padding-left: 30px;
      border-right: 0;
    }

    ul > li:nth-child(2) dl dt {
      color: #ff0000;
    }

    ul > li:nth-child(3) dl dt {
      color: #1a6dff;
    }
  }

  .main03 {
    // border-top: 1px dotted #ccc;
  }

  .main04 {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0;
    height: 440px;
    overflow: hidden;
    background: url(../images/banner_08.png) no-repeat center center;
    background-size: cover;

    > div {
      margin: 0 auto;

      button {
        width: 250px;
        height: 50px;
        font-size: 16px;
        color: #fff;
        border: 0;
        background-color: #081a51;
      }
    }
  }

  .mobile {
    display: none;
  }
}

ul.payoptionbox {
  display: table;
  margin: 0 auto;
  width: 55%;

  > li {
    float: left;
    margin: 0 15px;
    width: calc(33.333% - 30px);
    height: auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);

    > p {
      position: relative;
      margin-bottom: 0;
      padding: 20px 25px;
      width: 100%;
      font-size: 20px;
      line-height: 20px;
      font-weight: 800;
      text-align: left;
      color: #fff;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: #1d6cf6;

      span {
        display: block;
        margin-top: 10px;
        width: 100%;
        height: auto;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
      }

      i {
        margin-left: 5px;
        font-size: 13px;
        font-style: normal;
      }

      img {
        position: absolute;
        top: -20px;
        right: -20px;
        width: 110px;
      }
    }

    > p.txt_blue {
      padding: 25px 25px 0 !important;
      color: #1d6cf6 !important;
      background-color: transparent !important;

      img {
        top: 0;
        right: -5px;
        width: 115px;
      }
    }

    > p.txt_blue + span {
      padding-top: 15px;
    }

    > span {
      display: block;
      padding: 20px 25px 20px;
      width: 100%;
      height: auto;
      text-align: left;
      color: #888;

      b {
        font-weight: 600;
        color: #1d6cf6;
      }
    }

    ol {
      li {
        margin-bottom: 10px;
        padding: 0 25px;
        text-align: left;
        font-size: 15px;
        line-height: 15px;
        font-weight: 600;
      }

      li:before {
        content: url(../images/icon_check_gray.svg);
        margin-right: 10px;
      }

      li.star {
        margin: 0 auto 20px;
        padding: 7px 10px 10px;
        width: calc(100% - 50px);
        background-color: #f5f8fd;
      }

      li.star:before {
        float: left;
        content: url(../images/icon_star.svg);
        margin-right: 10px;
      }
    }

    .terms {
      display: block;
      margin-top: 30px;
      padding: 30px 25px;
      width: 100%;
      height: auto;
      text-align: left;
      color: #888;
      border-top: 1px dashed #ccc;

      ul,
      li {
        display: inline-block;
        width: 100%;
        height: auto;
      }

      input {
        float: left;
      }

      label {
        float: left;
        margin-left: 10px;
        line-height: 16px;

        span {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    

    .nounit {
      display: block;
      width: 100%;
      height: auto;
    }

    button {
      width: 100%;
    }

    .salebox {
      display: inline-block;
      padding: 0 25px;
      width: 100%;
      height: auto;

      dl {
        float: left;
        margin-bottom: 0;
        width: 40%;
        text-align: left;

        dt {
          margin-bottom: 10px;
          font-size: 12px;
          font-weight: 500;
          color: #bbb;
        }

        dd {
          position: relative;
          margin-bottom: 0;
          font-size: 20px;
          font-weight: 700;
          color: #bbb;

          i {
            margin-left: 5px;
            font-size: 12px;
            color: #bbb;
            font-style: normal;
          }

          img {
            position: absolute;
            top: 9px;
            left: 0;
          }
        }
      }

      dl:last-child {
        margin-left: 8%;
        width: 52%;

        dt {
          margin-bottom: 0;
          color: #081a51;
          font-weight: 700;
        }

        dd {
          position: relative;
          font-size: 32px;
          font-weight: 900;
          color: #f85151;

          i {
            color: #bbb;
          }
        }

        dd::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 10px;
          background-color: #faff00;
          opacity: 0.3;
        }
      }
    }

    > select {
      display: block;
      margin: 25px auto 0;
      width: calc(100% - 50px);
    }

    hr {
      display: block;
      margin: 25px auto 0;
      height: 0;
      border-top: 1px dashed #ccc;
    }

    > button {
      display: block;
      margin: 25px auto;
      padding: 0;
      width: calc(100% - 50px);
      height: 40px;
      line-height: 39px;
      font-size: 16px;
      color: #fff;
      border: 0;
      background-color: #1d6cf6;
    }
  }

  > li:nth-child(1) p {
    color: #050708;
    background-color: #d5dbe3;
  }

  > li:nth-child(3) {
    p {
      background-color: #081a51;
    }
    > button {
      background-color: #081a51;
    }
  }

  > li:nth-child(4) {
    p {
      background-color: #2e2e2e;
    }
    > button {
      background-color: #2e2e2e;
    }
  }
}
