// sale_product.

.sale_product {
  h3 {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    width: auto;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
  }

  table {
    width: 100%;
    height: 100%;
  }

  .section1 {
    display: inline-block;
    float: left;
    width: 60%;
    height: 100%;

    .formsmatchtable {
      th:nth-child(1),
      td:nth-child(1) {
        width: 170px;
        text-align: center;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 470px;
      }

      th:nth-child(3),
      td:nth-child(3) {
        width: 370px;
      }
    }

    .formsmatchtable.tbody {
      height: 303px !important;
      margin-bottom: 30px;
    }

    .goodsmatchtable {
      table-layout: fixed;

      th:nth-child(1),
      td:nth-child(1) {
        width: 180px;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 150px;
      }

      th:nth-child(4),
      td:nth-child(4) {
        width: 130px;
      }

      th:nth-child(5),
      td:nth-child(5) {
        width: 60px;
      }

      th:nth-child(5).td_fee,
      td:nth-child(5).td_fee {
        width: 120px;

        input {
          width: calc(100% - 20px);
          text-align: center;
        }
      }

      th:nth-child(6),
      td:nth-child(6) {
        width: 60px;
      }
    }

    .goodsmatchtable.tbody {
      height: 283px !important;
    }

    .btn_blue {
      float: right;
      margin-top: -6px;
    }
  }

  .section2 {
    display: inline-block;
    float: right;
    width: calc(40% - 30px);
    height: 100%;
    overflow: visible;

    h3 {
      width: auto;
      float: left;
    }

    .inputbox {
      margin-top: -6px;
      width: auto;
      float: right;

      .dropdown {
        float: left;
        margin-right: 5px;

        button {
          border-radius: 5px !important;
        }
      }

      .input_search {
        float: left;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      .btn_search + .btn_reset {
        margin-left: 5px;
      }
    }

    .standardproductsearch {
      width: 100%;
      height: calc(100% - 415px) !important;
      margin-bottom: 30px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 7px;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
      overflow: auto;

      .thead th:nth-child(2),
      .tbody td:nth-child(2) {
        width: 100px;
        text-align: center;
      }

      .thead th:nth-child(3) {
        width: 88px;
      }

      .tbody td:nth-child(3) {
        padding: 3px 10px;
        width: 80px;

        button {
          display: block;
          margin: 0 auto;
          float: unset;
        }
      }
    }

    .standardproductsearch table tbody .td_empty {
      min-height: 100%;
    }

    .standardproductsearch table tbody .td_empty:before {
      content: '주문건을 선택해 주세요.';
    }

    .categoryfeesearch {
      width: 100%;
      height: 320px !important;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 7px;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
      overflow: auto;
    }

    .categoryfeesearch table tbody .td_empty {
      min-height: 100%;
    }

    .categoryfeesearch table tbody .td_empty:before {
      content: '이 매체는 수수료 매칭이 필요하지 않습니다.';
    }

    .standardproductsearch table,
    .categoryfeesearch table {
      height: 100%;
      background-color: transparent;
      border-radius: 0;
      box-shadow: unset;
      overflow: auto;
    }

    .categoryfeesearch tbody {
      height: 100%;
    }

    .categoryfeesearch tr {
      height: 37px;
    }

    td {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.body.sale_product {
  .nav-tabs .nav-item:nth-child(2),
  .nav-tabs .nav-item:nth-child(3) {
    float: right;
  }

  .formsmatchtable.tbody {
    height: calc(100% - 450px) !important;
  }

  .goodsmatchtable.tbody {
    height: 267px !important;
  }

  .standardproductsearch .tbody {
    height: calc(100% - 36px) !important;
  }

  .standardproductsearch table tbody:empty {
    min-height: 340px;
  }

  .categoryfeesearch {
    height: 304px !important;
  }

  .categoryfeesearch table tbody:empty {
    min-height: 304px;
  }
}

.sale_product.modal {
  .standardproductsearch {
    height: calc(100% - 447px) !important;
  }

  .modal-body {
    height: calc(100% - 48px);
  }

  .section1,
  .section1 {
    min-height: 759px;
  }
}
