/* aggrid_custom. */

.ag-theme-alpine {
  --ag-header-foreground-color: #fff;
  --ag-borders-input: solid 1px;
  --ag-input-border-color: red;
  --ag-input-border-color-invalid: red;
  --ag-input-disabled-border-color: red;
  --ag-input-disabled-background-color: red;

  height: auto !important;
}

.ag-root-wrapper {
  border: 0;
}

.ag-root-wrapper.ag-layout-normal {
  min-height: calc(100vh - 210px);
  height: auto;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  overflow: hidden;
}

.ag-root.ag-layout-normal {
  min-height: 100%;
  height: auto;
}

.ag-root-wrapper-body.ag-layout-normal {
  height: auto;
}

.ag-header {
  height: 40;
  min-height: 40px;
  background-color: #182B65;
  overflow: hidden;
}

.ag-header-cell {
  border-right: 1px dotted #ccc;
}

.ag-header-cell-resize::after {
  display: none;
}

.ag-pinned-left-header {
  border-right: 0;
}

.ag-icon-menu::before {
  color: #fff;
}

.ag-header-row {
  height: 40px;
}

.ag-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ag-input-field-input {
  border: 1px solid #ccc;
}

.ag-ltr .ag-cell {
  border-right: 1px dotted #ccc;
}

.ag-body-horizontal-scroll-viewport {
  overflow: auto;
}

.ag-cell-editable:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ag-cell-inline-editing {
  background-color: transparent;
  border-color: transparent !important;
}

.ag-theme-alpine .ag-ltr input[class^=ag-][type=text] {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}


input[class^=ag-][type=text]:focus {
  box-shadow: none !important;
}

.ag-checkbox-input-wrapper:focus-within,
.ag-checkbox-input-wrapper:active {
  box-shadow: unset !important;
}