@charset "utf-8";
// common_202305

/* 공통 */

body {
  width: 100%;
  background-color: #f8f9ff !important;
  font-size: 16px;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

* {
  letter-spacing: 0;
  color: #000;
  box-sizing: border-box;
  line-height: normal;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
  word-break: break-all;
}
.nav-link {
  cursor: pointer;
}
.nav-link:hover,
.nav-link:hover * {
  opacity: 0.7;
}

.hidden {
  display: none !important;
}

.vhidden {
  visibility: hidden !important;
}

.v_center {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.left {
  float: left;
}
.right {
  float: right;
}

/* 정사각형 만들기 */
.square {
  width: 50%;
  position: relative;
}
.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.square .inner {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}

/* font */
.txt_small {
  font-size: 13px;
}
.txt_sum {
  color: #d20000;
  font-weight: 500;
}
.txt_required {
  margin-right: 5px;
  color: #d20000;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}
.txt_notrequired {
  margin-right: 5px;
  color: transparent;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}

.txt_green {
  color: #006d00 !important;
}

.txt_red {
  color: #d20000 !important;
}

.txt_999 {
  color: #999 !important;
}

.center {
  text-align: center !important;
}

/* button */
button:hover {
  opacity: 0.9;
  cursor: pointer !important;
}

.btn-primary {
  display: inline-block;
  width: auto;
  height: auto;
  min-width: 60px;
  padding: 7.5px 12px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #444;
  line-height: normal;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  line-height: 16px;
  border-radius: 5px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #f3f3f3;
  border-color: #ccc;
  color: #000;
}

.btn-primary:active:focus,
.btn-primary:focus,
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: unset !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #d9d9d9;
  border-color: #b7b7b7;
  color: #444;
  cursor: not-allowed;
}

.btn_small {
  min-width: unset;
  padding: 5px 10px;
  font-size: 12px;
}

.btn_del {
  padding: 0;
  width: 22px;
  min-width: unset;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.btn_add {
  padding: 0;
  width: 22px;
  min-width: 22px;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.btn_date {
  padding: 0;
  width: 22px;
  min-width: unset;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.btn_off {
  opacity: 0.2;
}

.btn_set {
  width: 30px;
  height: auto;
  min-width: unset;
  padding: 5px;
  border: 0;
  background: transparent;
}

.btn_reset {
  margin-top: 3px;
  margin-left: 5px;
  width: 28px;
  height: auto;
  min-width: unset;
  padding: 5px;
  border: 0;
  background: transparent;
}

.btn_more {
  padding: 0 !important;
  width: 62px !important;
  min-width: unset !important;
  height: 20px !important;
  font-size: 0;
  text-align: left;
  border: 0;
  background: url(../images/icon_arrow_left2.svg) no-repeat right center;
  background-size: 20px;
}

.btn_more:before {
  content: '더보기';
  padding-left: 5px;
  font-size: 13px;
  line-height: 19.5px;
  color: #017efa;
}

.btn_more2:before {
  content: '공지사항 전체보기';
  padding-left: 5px;
  font-size: 13px;
  line-height: 19.5px;
  color: #017efa;
}

.btn_close {
  padding: 0 !important;
  width: 18px !important;
  min-width: unset !important;
  height: 18px !important;
  font-size: 0;
  border: 0;
  background: url(../images/icon_close.svg) no-repeat center center;
  background-size: 18px;

  &:hover {
    background-color: transparent !important;
  }

  img {
    display: none;
  }
}

.btn_tip {
  padding: 0 !important;
  width: 22px !important;
  min-width: unset !important;
  height: 22px !important;
  font-size: 0;
  border: 0;
  background: url(../images/icon_tip.svg) no-repeat center center;
  background-size: contain;
}

.btn_arrow_left,
.btn_arrow_right {
  width: 32px;
  height: 32px;
  min-width: unset;
  padding: 9px;
}

.btn_search {
  padding: 6.5px 6px;
  width: 30px;
  height: auto;
  min-width: unset;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;

  img {
    width: 20px;
    height: auto;
  }
}

.btn_excel_click {
  width: 150px;
  height: auto;
  vertical-align: middle;
  background-color: transparent;
  border: 0;
}

.btn_red,
.btn_red:hover,
.btn_red:focus {
  color: #fff;
  background-color: #d20000;
  border-color: #d20000;
}

.btn_blue,
.btn_blue:hover,
.btn_blue:focus {
  color: #fff;
  background-color: #081a51;
  border-color: #081a51;
}

.btn_flblue,
.btn_flblue:hover,
.btn_flblue:focus {
  color: #fff;
  background-color: #0051ff;
  border-color: #0051ff;
}

.btn_green,
.btn_green:hover,
.btn_green:focus {
  color: #fff;
  background-color: #006d00;
  border-color: #006d00;
}

.btn_green img {
  display: inline-block;
  width: auto;
  height: 15px;
  margin-top: -3px;
  margin-right: 3px;
  vertical-align: middle;
}

.btn_txt,
label {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
  font-size: 14px;
  color: #666;
  border: 0;
  background: transparent;
}

.btn_txt:hover,
.btn_txt:focus,
.btn_txt:active,
.btn_txt:visited {
  background-color: transparent;
}

.btn.dropdown-toggle {
  padding: 7px 12px;
  min-width: 50px;
  height: 32px;
  font-size: 13px;
  line-height: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

select {
  padding: 2px 12px;
  min-width: 50px;
  height: 32px;
  font-size: 14px;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

.dropdown-toggle::after {
  float: right;
  margin-top: 7px;
}

.btn_number {
  float: left;
  padding: 5px 0 !important;
  width: 45px;
  text-align: center !important;
  border-radius: 0 !important;
}

.btn_number_minus {
  display: block;
  float: left;
  width: 32px;
  height: 33px;
  font-size: 0;
  border: 1px solid #ccc;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: url(../images/icon_minus.svg) no-repeat center center;
  background-size: 11px;
}

.btn_number_plus {
  display: block;
  float: left;
  width: 32px;
  height: 33px;
  font-size: 0;
  border: 1px solid #ccc;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: url(../images/icon_plus.svg) no-repeat center center;
  background-size: 12px;
}

.btngroup {
  display: block;
  padding: 2px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 999px;
  background-color: #fff;

  button {
    margin: 0 2px;
    padding: 0;
    height: 28px;
    line-height: 28px;
    color: #bbb;
    border: 0;
    border-radius: 999px;
    background-color: #fff;
  }

  button.btn_blue.on {
    color: #fff;
    background-color: #081a51;
  }

  button.btn_green.on {
    color: #fff;
    background-color: #1d7044;
  }

  button.btn_red.on {
    color: #fff;
    background-color: #b84a4a;
  }

  button:hover {
    padding: 0;
    height: 28px;
    color: #aaa;
    border: 0;
    background-color: #f3f3f3;
  }

  button:active,
  button:focus {
    color: #bbb !important;
    border: 0 !important;
    background-color: #fff !important;
  }
}

.btn_arrow_back {
  padding: 0;
  width: 22px;
  min-width: unset;
  height: auto;
  vertical-align: middle;
  border: 0;
}

// input

input {
  height: 33px;
  padding: 0 10px;
  border-radius: 5px !important;
  font-size: 14px;
}

.input_search + button,
.dropdown + button {
  float: left;
  height: 33px;
  border-left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-control {
  font-size: 14px;
}

/* nav-tabs */
.nav-tabs {
  position: fixed;
  top: 90px;
  left: 0;
  display: block;
  padding: 8px 30px;
  width: 100%;
  height: auto;
  background-color: #f8f9ff;
  border-bottom: 1px solid #081a51;
  z-index: 90;
}

.nav-tabs + .page {
  padding-top: 83px;
}

.nav-tabs .nav-item {
  flex: unset;
  display: inline-block;
  width: auto;
  height: auto;
}

.nav-fill .nav-item .nav-link {
  margin-right: 10px;
  padding: 8px 10px 10px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #182b65;
}

.nav-tabs .nav-link.active {
  background-color: #e1ebff;
}

.css-fix-line {
  white-space: pre-wrap; /* or pre-line */
}

// 공지사항 slick
.noticebox {
  margin-bottom: 100px;
  width: 98%;
  height: 40px;
  overflow: hidden;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);

  .slick-slider {
    float: left;
    width: calc(100% - 185px);
    height: auto;

    .slick-slide > div > dl {
      width: 100%;
      height: 40px;
      line-height: 38px;
      padding: 0 30px;
      font-size: 15px;

      dt {
        display: inline-block;
        float: left;
        width: 90%;
        height: 40px;
        line-height: 40px;
        font-weight: 500;
        color: #333;
      }

      dd {
        display: inline-block;
        float: right;
        width: 10%;
        height: 40px;
        line-height: 40px;
        color: #999;
      }
    }

    .slick-slide > div > dl:hover dt,
    .slick-slide > div > dl:hover dd {
      text-decoration: underline;
      cursor: pointer;
    }

    .slick-prev,
    .slick-next {
      display: none !important;
    }
  }

  .btn_more {
    float: right;
    padding: 0 30px !important;
    width: 185px !important;
    height: 40px !important;
    background-color: #f8f8f8;
    background-position: top 11px right 32px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .btn_more:hover {
  }

  .btn_more2::before {
    line-height: 40px;
  }

  .btn_more:hover::before {
    text-decoration: underline;
  }
}

#imp-iframe {
  width: 710px !important;
  height: 515px !important;
}
