// Home.

.body.home {
  .nav-tabs .nav-item:nth-child(3),
  .nav-tabs .nav-item:nth-child(4),
  .nav-tabs .nav-item:nth-child(5) {
    float: right;
  }

  .page {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section1 {
    h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 40px;

      p {
        margin-top: 15px;
        margin-bottom: 0;
        font-size: 15px;
        color: #666;

        span {
          font-size: inherit;
        }

        span:after {
          display: none;
        }
      }
    }

    .btnbox {
      display: block;
      width: 100%;

      .dropdown {
        float: left;

        .btn {
          min-width: 200px;
          margin-right: 0;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }

      .btn + span {
        display: inline-block;
        width: 100%;
        height: auto;
        font-size: 13px;
        font-weight: 500;
        color: #d20000;
      }
    }

    ul {
      display: inline-block;
      margin-top: 40px;
      width: 100%;
      height: auto;

      li {
        height: 32px;
        line-height: 31px;
        font-size: 14px;
      }

      li:before {
        content: '';
        display: inline-block;
        float: left;
        margin-right: 10px;
        width: 20px;
        height: 32px;
        background: url(../images/icon_check.svg) no-repeat center center;
        background-size: contain;
      }
    }
  }
}
