// MarginCalc.

.body.margin_calc {
  .nav-tabs .nav-item:nth-child(3),
  .nav-tabs .nav-item:nth-child(4),
  .nav-tabs .nav-item:nth-child(5) {
    float: right;
  }

  .inputbox {
    display: inline-block;
    float: left;
    width: auto;

    .btn {
      float: left;
      margin-right: 10px;
    }

    .dropdown {
      float: left;

      .btn {
        min-width: 200px;
        margin-right: 0;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      .dropdown-menu {
        min-width: 200px;
      }
    }
    .btnbox {
      display: inline-block;
      margin-top: 14px;
      clear: left;
      float: left;
      width: auto;
      height: auto;

      .btn:nth-child(2) {
        display: block;
      }

      .btn:nth-child(6) {
        margin-right: 5px;
      }

      .btn_set {
        margin-top: 1px;
      }

      .txt_red {
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 32px;
      }
    }

    span.formName {
      display: inline-block;
      float: left;
      margin-left: 10px;
      font-size: 14px;
      line-height: 31px;
      color: #081a51;
    }
  }

  .viewbox {
    display: inline-block;
    float: right;
    margin-bottom: 0;
    border: 1px solid #8e9fd5;
    border-radius: 7px;
    background-color: #fff;
    overflow: hidden;

    li {
      display: table-cell;
      padding: 13px 25px;
      border-right: 1px dotted #8e9fd5;
      cursor: not-allowed;

      .dd {
        text-align: right;
      }
    }

    li:nth-child(1):hover,
    li:nth-child(3):hover {
      background-color: #e8f4fe;
      cursor: pointer;

      .dd {
        text-decoration: underline;
      }
    }

    li:nth-child(3):hover {
      background-color: #ffeaea;
    }

    li:last-child {
      border-right: 0;
    }

    li p {
      display: block;
      margin-bottom: 0;
      width: auto;
      height: auto;
    }

    li .dt {
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 13px;
      color: #848da8;
    }

    li .dd {
      font-size: 24px;
      line-height: 24px;
      font-weight: 800;
      color: #081a51;
    }

    li .dd span {
      font-size: 16px;
      font-weight: 400;
      margin-left: 5px;
    }

    li.profit .dd {
      color: #006d00;
    }

    li.profit .dd:before {
      content: '이익 + ';
      font-size: 16px;
      font-weight: 400;
    }

    li.loss .dd {
      color: #d20000;
    }

    li.loss .dd:before {
      content: '손해  ';
      font-size: 16px;
      font-weight: 400;
    }
  }

  .viewbox.off {
    li {
      display: none;
    }

    li:first-child {
      display: inline-block;
    }

    li:first-child * {
      display: none;
    }

    li:first-child:after {
      content: '주문서를 업로드하고 손익계산 버튼을 눌러주세요.';
      display: inline-block;
      min-width: 850px;
      min-height: 50px;
      font-size: 18px;
      font-weight: 500;
      line-height: 50px;
      text-align: center;
      color: #c5c9d6;
    }
  }

  .tablebox {
    display: block;
    float: left;
    margin-top: 15px;
    width: 100%;
    height: auto !important;

    table.thead {
      height: auto !important;

      th {
        line-height: normal;
      }
    }

    table.tbody {
      height: calc(100vh - 365px);
    }

    .thead th:nth-child(1),
    .tbody td:nth-child(1) {
      width: 36px;
      text-align: center;
    }

    .tbody td:nth-child(1) {
      background-color: #fff !important;
    }

    .thead th:nth-child(2),
    .tbody td:nth-child(2) {
      width: 100px;
      text-align: center;
    }

    .tbody td:nth-child(2) {
      background-color: #fbfbfb;
    }

    .thead th:nth-child(3),
    .tbody td:nth-child(3) {
      width: 100px;
    }

    .thead th:nth-child(4),
    .tbody td:nth-child(4) {
      width: 105px;
      text-align: center;
    }

    .thead th:nth-child(5),
    .tbody td:nth-child(5) {
      width: 85px;
    }

    .thead th:nth-child(6),
    .tbody td:nth-child(6) {
      width: 230px;
    }

    .thead th:nth-child(7),
    .tbody td:nth-child(7) {
      width: 210px;
    }

    .thead th:nth-child(8),
    .tbody td:nth-child(8) {
      width: 40px;
      text-align: center;
    }

    .thead th:nth-child(9),
    .tbody td:nth-child(9),
    .thead th:nth-child(10),
    .tbody td:nth-child(10) {
      width: 100px;
      text-align: center;
    }

    .thead th:nth-child(11),
    .tbody td:nth-child(11) {
      width: 120px;
    }

    .thead th:nth-child(12),
    .tbody td:nth-child(12) {
      width: 110px;
    }

    .thead th:nth-child(13),
    .tbody td:nth-child(13) {
      width: 100px;
    }

    .thead th:nth-child(11),
    .tbody td:nth-child(11),
    .thead th:nth-child(12),
    .tbody td:nth-child(12),
    .thead th:nth-child(13),
    .tbody td:nth-child(13) {
      text-align: center;

      input {
        display: inline-block;
        width: calc(100% - 20px);
      }
    }

    .thead th:nth-child(14),
    .tbody td:nth-child(14) {
      width: 80px;
      text-align: center;
    }

    .thead th:nth-child(15),
    .tbody td:nth-child(15) {
      width: 125px;
      text-align: center;
    }

    .thead th:nth-child(16),
    .tbody td:nth-child(16) {
      width: unset;
      text-align: center;
    }

    td span.center {
      display: inline-block;
      width: 100%;
    }

    td i {
      display: inline-block;
      font-size: inherit;
      font-style: normal;
    }

    td:nth-child(2):has(span.profit),
    td:nth-child(3):has(span.profit) {
      span.profit {
        color: #008d42;

        i {
          font-weight: 600;
        }
      }
    }

    td:nth-child(2):has(span.loss),
    td:nth-child(3):has(span.loss) {
      background-color: #ffeaea;

      span.loss {
        color: #d20000;

        i {
          font-weight: 600;
        }
      }
    }
  }

  tr:has(td:nth-child(3) span.unconnected) {
    background-color: #ffeaea;

    span.unconnected {
      color: #d20000;
    }
  }

  .tbody tr:hover td[rowspan] {
    background-color: #fbfbfb !important;
  }

  .tbody tr:hover td[rowspan]:has(span.loss) {
    background-color: #ffeaea !important;
  }
}

// before

.body.margin_calc {
  .page.before {
    max-width: 1200px;
    margin: 0 auto;
  }

  .before {
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-tabs .nav-item:nth-child(3),
    .nav-tabs .nav-item:nth-child(4),
    .nav-tabs .nav-item:nth-child(5) {
      float: right;
    }

    .innerbox {
      width: 100%;
      height: auto;
      margin-top: -120px;
    }

    .uploadbox {
      width: 100%;
      height: auto;
    }

    .section1 {
      padding-top: 35px;
      padding-left: 30px;
      width: 50%;
      float: left;

      h3 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 40px;

        p {
          margin-top: 15px;
          margin-bottom: 0;
          font-size: 15px;
          color: #666;

          span {
            font-size: inherit;
          }

          span:after {
            display: none;
          }
        }
      }

      .btnbox {
        display: block;
        width: 100%;

        .dropdown {
          float: left;

          .btn {
            min-width: 200px;
            margin-right: 0;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
          }

          .dropdown-menu {
            min-width: 200px;
          }
        }

        .btn + span {
          display: inline-block;
          width: 100%;
          height: auto;
          font-size: 13px;
          font-weight: 500;
          color: #d20000;
        }
      }

      ul.inform {
        display: inline-block;
        margin-top: 40px;
        width: 100%;
        height: auto;

        li {
          height: 32px;
          line-height: 31px;
          font-size: 14px;
        }

        li:before {
          content: '';
          display: inline-block;
          float: left;
          margin-right: 10px;
          width: 20px;
          height: 32px;
          background: url(../images/icon_check.svg) no-repeat center center;
          background-size: contain;
        }
      }
    }

    .section2 {
      width: 50%;
      float: right;
    }
  }
}

.modal.stockPriceModal {
  .modal-dialog {
    width: 600px;
  }

  table {
    width: 100%;
  }

  table.tbody {
    height: 200px;
  }

  .thead th:nth-child(1),
  .tbody td:nth-child(1) {
    width: 70%;
  }

  .thead th:nth-child(2),
  .tbody td:nth-child(2) {
    width: 30%;
  }
}
