// margin.

.body.margin {
  .page {
    overflow: auto;
  }

  .section {
    display: inline-block;
    float: left;
  }

  .section1 {
    width: 320px;
    margin-right: 30px;
  }

  .section2 {
    width: calc(100% - 350px);

    .ag-root-wrapper.ag-layout-normal {
      height: calc(100vh - 250px);
    }
  }

  .btnbox {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
  }

  .btnbox button {
    margin-right: 10px;
  }

  .section table,
  .section .tablebox {
    width: 100%;
    height: auto;
  }

  .section1 .tablebox1,
  .section1 .tablebox2 {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 4px solid #081a51;
    overflow: hidden;
  }

  .section1 .tablebox2 {
    margin-top: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .section1 .tablebox1 table {
    border-radius: 0;
    overflow: visible;
  }

  .section1 .tablebox1 table tr {
    border-bottom: 1px dotted #ccc;
  }

  .section1 .tablebox1 table tr:last-child {
    border-bottom: 1px solid #081a51;
  }

  .section1 .tablebox1 table th {
    width: 100px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border: 0;
    background-color: #081a51;
  }

  .section1 .tablebox1 table td {
    max-width: 220px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    font-size: 18px;
    font-weight: 800;
    color: #081a51;
    border: 0;
    background-color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
  }

  .section1 .tablebox1 table td span {
    font-size: 14px;
    font-weight: 400;
  }

  .section1 .tablebox2 table td {
    padding: 10px 20px;
  }

  .section1 .tablebox2 table .td_sum {
    font-size: 18px;
    line-height: 17px;
    font-weight: 700;
    text-align: right;
  }

  .section1 .tablebox2 table .td_sum.green {
    color: #1d7044;
    border-top: 1px solid #1d7044;
    border-bottom: 1px solid #1d7044;
    background-color: #ddf4e8;
  }

  .section1 .tablebox2 table .td_sum.red {
    color: #b84a4a;
    border-top: 1px solid #b84a4a;
    border-bottom: 1px solid #b84a4a;
    background-color: #fae3e3;
  }

  .section1 .tablebox2 table .td_sum.gray {
    color: #444444;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
    background-color: #eeeeee;
  }

  .section1 .tablebox2 table .td_sum span {
    float: left;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-align: left;
  }

  .section1 .tablebox2 .input_prdname {
    float: left;
    width: calc(100% - 92px);
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .section1 .tablebox2 .input_prdname + button {
    float: left;
    width: 92px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .section1 .tablebox2 table td > span {
    display: inline-block;
    float: left;
    width: 100px;
    line-height: 32px;
    font-weight: 500;
    color: #444;
  }

  .txt_small {
    color: #888 !important;
  }

  .section1 .tablebox2 table td > input {
    float: left;
    width: calc(100% - 120px);
  }

  .section1 .tablebox2 table td .nounit {
    float: left;
    width: calc(100% - 100px);
  }

  .section1 .tablebox2 table td .nounit button {
    width: 100%;
  }

  .section1 .tablebox2 table td > input + span {
    display: inline-block;
    float: right;
    width: 20px;
    color: #888;
    text-align: right;
  }

  .section .btn_calc {
    padding-bottom: 13px;
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
