// MarginCalc_UnConnectModal

.modal.UnConnect {
  .modal-dialog {
    width: calc(100% - 60px);
    max-width: unset;
  }

  .modal-content {
    height: 100%;
    background-color: #f8f9ff;
  }

  .modal-header {
    button {
      float: right;
      margin-left: 10px;
    }
  }

  .modal-body {
    height: 100%;
    overflow: visible;
  }
}
