@media (max-width: 1920px) {
  /* header */
  // .header {
  //   .hamburger {
  //     display: none;
  //   }
  // }
}

@media (max-width: 1440px) {
  /* header */
  // .header.v02 {
  //   padding: 0 30px;

  //   nav {
  //     ul.left {
  //       margin-left: 40px;
  //       width: 170px;
  //     }

  //     ul.center {
  //       margin-left: 30px;

  //       li {
  //         padding: 0 20px;
  //       }
  //     }

  //     .member {
  //       // display: none;
  //     }
  //   }
  // }
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .header.v02 {
    min-width: 100%;

    .btn_arrow_back {
      display: block;
    }

    nav {
      ul.burder {
        display: block;
      }

      ul.center,
      .member {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  /* CSS */
}

@media (max-width: 480px) {
  /* CSS */
}

@media (max-width: 320px) {
  /* CSS */
}
