// Mypage.

.body.mypage {
  .page {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    .paymentbox {
      display: inline-block;
      width: 400px;
      height: auto;
      margin-right: 50px;
    }

    .formbox {
      display: inline-block;
      width: 450px;
      height: auto;

      .btn_submit {
        margin: 30px 0 20px;
      }

      .btn_txt {
        height: auto;
      }

      .inform {
        color: #b84a4a;
      }
    }
  }

  h3 {
    width: 100%;
    height: auto;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    color: #000;
  }

  h4 {
    display: block;
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #999;
  }

  .innerbox {
    display: block;
    margin-top: 30px;
    padding: 30px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);

    dl {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 0;

      dt {
        display: block;
        width: 100%;
        height: auto;
        font-size: 32px;
        line-height: 32px;
        font-weight: 600;
        text-align: center;
      }

      dd:nth-child(2) {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 25px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        text-align: center;
      }

      dd:nth-child(3) {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 10px;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #888;
      }
    }

    ul {
      display: block;
      width: 100%;
      height: auto;
      margin: 30px 0;

      li {
        font-size: 14px;
        color: #666;
        line-height: 30px;
      }

      li:before {
        content: '';
        display: block;
        float: left;
        margin-right: 10px;
        width: 18px;
        height: 30px;
        background: url(../images/icon_check.svg) no-repeat center center;
        background-size: contain;
      }
    }

    ol {
      margin: 0;
      padding: 30px 0;

      border-top: 1px solid #ccc;

      li {
        margin-top: 10px;
        height: 16px;

        input[type='checkbox'] {
          float: left;
          clear: left;
          margin-right: 5px;
        }

        label {
          display: block;
          float: left;
          height: 16px;
          line-height: 13px;
          font-size: 13px;
          color: #888;

          span {
            display: block;
            float: right;
            margin-left: 5px;
            height: 16px;
            line-height: 13px;
            font-size: 13px;
            color: #000;
            text-decoration: underline;
          }
        }
      }
    }

    .allcheck {
      display: table;
      margin: 0 auto;
      width: auto;
      height: auto;

      input[type='checkbox'] {
        float: left;
        clear: left;
        margin-right: 5px;
      }

      input[type='checkbox']::before {
        border-color: #2194f0;
      }

      label {
        display: block;
        float: left;
        height: 16px;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
        color: #2194f0;
      }
    }

    button {
      margin-top: 17px;
      width: 100%;
      height: 40px;
    }
  }

  ul.payoptionbox {
    margin-top: 30px;
    width: 100% !important;

    > li {
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
    }

    li {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      border-radius: 10px;

      p {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .salebox dl:last-child {
        width: 38%;
      }

      p.txt_blue img {
        right: 7px;
      }
    }

    li:nth-child(1) p {
      color: #fff;
      background-color: #1d6cf6;
    }
  }
}

.modal.deleteAccount {
  .modal-dialog {
    width: 600px;
    max-width: 600px;
  }

  .modal-body {
    p {
      font-weight: 500;
      color: #b84a4a;
    }

    ul {
      margin-left: 18px;

      li {
        list-style-type: circle;
        list-style-position: outside;
        margin-top: 5px;
        font-size: 14px;
        color: #667085;
      }
    }

    .checkwrap {
      margin-top: 20px;
      padding: 20px 0;
      border-top: 1px dashed #ccc;

      input[type='checkbox'] {
        float: left;
        margin-right: 5px;
      }

      label {
        display: block;
        float: left;
        line-height: 15px;
        color: #000;
        font-weight: 500;
      }
    }

    .inputbox {
      display: inline-block;
      margin: 15px 0 25px;
      width: 100%;
      height: auto;

      .input-group {
        display: block;
        float: left;
        width: calc(50% - 5px);

        label {
          width: 100%;
        }

        input {
          margin-top: 3px;
          width: 100%;
          height: 40px;
        }
      }
    }

    .inputpassword {
      float: right !important;
    }

    .btn_blue {
      display: block;
      margin: 0 auto;
      width: 150px;
      height: 36px;
    }
  }
}
