// Mypage.

.body.mypage {
  .page {
    display: flex;
    justify-content: center;
    padding-top: 70px;

    .paymentbox {
      display: inline-block;
      width: 400px;
      height: auto;
      margin-right: 70px;
    }

    .formbox {
      display: inline-block;
      width: 450px;
      height: auto;

      .btn_submit {
        margin: 30px 0 20px;
      }

      .btn_txt {
        height: auto;
      }
    }
  }

  h3 {
    width: 100%;
    height: auto;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    color: #000;
  }

  h4 {
    display: block;
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #999;
  }

  .innerbox {
    display: block;
    margin-top: 30px;
    padding: 30px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);

    dl {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 0;

      dt {
        display: block;
        width: 100%;
        height: auto;
        font-size: 32px;
        line-height: 32px;
        font-weight: 600;
        text-align: center;
      }

      dd:nth-child(2) {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 25px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        text-align: center;
      }

      dd:nth-child(3) {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 10px;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #888;
      }
    }

    ul {
      display: block;
      width: 100%;
      height: auto;
      margin: 30px 0 40px;

      li {
        font-size: 14px;
        color: #666;
        line-height: 30px;
      }

      li:before {
        content: '';
        display: block;
        float: left;
        margin-right: 10px;
        width: 18px;
        height: 30px;
        background: url(../images/icon_check.svg) no-repeat center center;
        background-size: contain;
      }
    }

    button {
      width: 100%;
      height: 40px;
    }
  }
}
