// sale_product.

.sale_product {
  h3 {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    width: auto;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
  }

  table {
    width: 100%;
    height: 100%;
  }

  .section1 {
    display: inline-block;
    float: left;
    width: 60%;
    height: 100%;

    .formsmatchtable {
      th:nth-child(1),
      td:nth-child(1) {
        width: 170px;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 470px;
      }

      th:nth-child(3),
      td:nth-child(3) {
        width: 370px;
      }
    }

    .formsmatchtable.tbody {
      height: 320px !important;
      margin-bottom: 30px;
    }

    .goodsmatchtable {
      th:nth-child(1),
      td:nth-child(1) {
        width: 180px;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: 150px;
      }

      th:nth-child(4),
      td:nth-child(4) {
        width: 130px;
      }

      th.td_fee,
      td.td_fee {
        width: 100px;
        text-align: center;
      }

      th:nth-child(6),
      td:nth-child(6) {
        width: 40px;
      }
    }

    .goodsmatchtable.tbody {
      height: 280px !important;
    }

    .btn_blue {
      float: right;
      margin-top: -6px;
    }
  }

  .section2 {
    display: inline-block;
    float: right;
    width: calc(40% - 30px);
    height: 100%;
    overflow: visible;

    h3 {
      width: auto;
      float: left;
    }

    .inputbox {
      margin-top: -6px;
      width: auto;
      float: right;

      .dropdown {
        float: left;
        margin-right: 5px;

        button {
          border-radius: 5px !important;
        }
      }

      .btn_search + .btn_reset {
        margin-left: 5px;
      }
    }

    .standardproductsearch {
      width: 100%;
      height: 360px !important;
      margin-bottom: 30px;
      background-color: #fff;
      border-radius: 7px;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
      overflow: auto;
    }

    .standardproductsearch table tbody:empty {
      min-height: 360px;
    }

    .categoryfeesearch {
      width: 100%;
      height: 320px !important;
      background-color: #fff;
      border-radius: 7px;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
      overflow: auto;
    }

    .categoryfeesearch table tbody:empty {
      min-height: 320px;
    }

    .standardproductsearch table,
    .categoryfeesearch table {
      height: auto;
      background-color: transparent;
      border-radius: 0;
      box-shadow: unset;
      overflow: auto;
    }

    .categoryfeesearch tbody {
      height: auto;
    }

    .categoryfeesearch tr {
      height: 37px;
    }

    td {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.body.sale_product {
  .nav-tabs .nav-item:nth-child(4),
  .nav-tabs .nav-item:nth-child(5),
  .nav-tabs .nav-item:nth-child(6) {
    float: right;
  }

  .formsmatchtable.tbody {
    height: 300px !important;
  }

  .goodsmatchtable.tbody {
    height: 260px !important;
  }

  .standardproductsearch {
    height: 340px !important;
  }

  .standardproductsearch table tbody:empty {
    min-height: 340px;
  }

  .categoryfeesearch {
    height: 304px !important;
  }

  .categoryfeesearch table tbody:empty {
    min-height: 304px;
  }
}
