// calculator > Margin > SearchModal

.modal.searchmodal_calculator {
  .inputbox {
    .input_search {
      width: calc(100% - 63px);
    }
  }

  .tablebox {
    margin-top: 15px;
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: unset;
    overflow-y: auto;

    td:nth-child(2) {
      width: 65px;
    }
  }
}
