// standard_product.

.body.standard_product {
  .nav-tabs .nav-item:nth-child(2),
  .nav-tabs .nav-item:nth-child(3) {
    float: right;
  }

  .section1 {
    float: left;
    width: calc(40% - 30px);
    height: 100%;

    th:nth-child(1),
    td:nth-child(1) {
      width: 120px;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 150px;
    }
  }

  .section2 {
    float: right;
    width: 60%;
    height: 100%;

    h3 {
      width: 100%;
    }

    table {
      width: 100%;
    }

    table.tbody {
      height: 659px;
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 120px;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 120px;
    }

    th:nth-child(4),
    td:nth-child(4) {
      width: 200px;
    }

    th:nth-child(5),
    td:nth-child(5) {
      width: 80px;
    }

    th:nth-child(6),
    td:nth-child(6) {
      width: 80px;
    }

    th:nth-child(7),
    td:nth-child(7) {
      width: 110px;
    }

    td button {
      float: left;
      margin: 0 5px;
    }

    .btn_del {
      margin-top: 2px;
    }
  }

  h3 {
    float: left;
    width: auto;
    margin-bottom: 20px;
    padding-left: 0;
  }

  .inputbox {
    display: inline-block;
    float: right;
    width: auto;
    margin-top: -6px;

    .dropdown {
      float: left;
      margin-right: 5px;

      button {
        border-radius: 5px !important;
      }
    }
  }
}
