//Step2.

.body.step2 {
  .page {
    height: calc(100% - 5px);
  }

  .ag-root-wrapper.ag-layout-normal {
    height: calc(100vh - 207px);
  }

  .btnbox_left {
    display: block;
    float: left;
  }

  .btnbox_left button {
    float: left;
    margin-right: 10px;
  }

  .btnbox_left .prdcount {
    float: left;
    margin-bottom: 0 !important;
    font-size: 14px;
    color: #666;
    line-height: 32px;
  }

  .btnbox_left .prdcount span {
    font-weight: bold;
    color: #000;
  }

  .btnbox_right {
    display: block;
    float: right;
  }

  .btnbox_right > * {
    float: left;
  }

  .btnbox_right > button:nth-child(1) {
    margin-right: 10px;
  }

  .btnbox_right > button:nth-child(3) {
    margin-right: 5px;
  }

  .btnbox_right .btn.dropdown-toggle {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .tablebox {
    display: block;
    margin-top: 15px;
    height: auto !important;
    float: left;

    .dropdown {
      display: block !important;
      float: left;
      margin-top: 3px;
      width: 100px;
    }

    .dropdown button {
      display: block;
      float: left;
      width: 100%;
      height: 33px;
      background-color: transparent;
      border-radius: 5px !important;
    }

    .dropdown + input,
    .dropdown + input:disabled {
      float: left;
      margin-top: 3px;
      margin-left: 5px;
      width: 70px;
      height: 33px;
      border: 1px solid #ccc !important;
      border-radius: 5px !important;
    }

    .dropdown + input + span {
      display: inline-block;
      float: left;
      line-height: 35px;
      text-indent: 5px;
    }

    .ag-cell-editable {
      text-overflow: ellipsis;
    }
  }
}
