//Step2.

@import './aggrid_custom.css';

.body.step2 {
  .btnbox_left {
    display: block;
    float: left;
  }

  .btnbox_left button {
    float: left;
    margin-right: 10px;
  }

  .btnbox_left .prdcount {
    float: left;
    margin-bottom: 0 !important;
    font-size: 14px;
    color: #666;
    line-height: 28px;
  }

  .btnbox_left .prdcount span {
    font-weight: bold;
    color: #000;
  }

  .btnbox_right {
    display: block;
    float: right;
  }

  .btnbox_right > * {
    float: left;
  }

  .btnbox_right > .dropdown > button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btnbox_right > button:nth-child(1) {
    margin-right: 10px;
  }

  .btnbox_right > button:nth-child(3) {
    margin-right: 8px;
  }

  .btnbox_right > button:nth-child(3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btnbox_right > button:nth-child(1) img,
  .btnbox_right > button:nth-child(3) img {
    display: inline-block;
    width: auto;
    height: 16px;
    margin-right: 3px;
    vertical-align: middle;
  }

  .btnbox_right .btn_set {
    margin-right: 10px;
    border: 0;
    background: transparent;
  }

  .tablebox {
    display: block;
    margin-top: 15px;
    height: auto !important;
    float: left;
  }
}
