// Step1.

.body.step1 {
  .section {
    display: inline-block;
    float: left;
  }

  .tablebox1 {
    margin-right: 30px;
  }

  .tablebox2 tr td:nth-child(4) {
    text-align: center;
  }

  .td_btn_add {
    padding: 10px 0;
    text-align: center;
  }
}
