@import './aggrid_custom.css';

.body.step2 {
  .btnbox_left {
    display: block;
    float: left;
  }

  .btnbox_right {
    display: block;
    float: right;
  }

  .btnbox_right > * {
    float: left;
  }

  .btnbox_right > .dropdown > button {
    padding: 6px 10px;
    font-size: 13px;
    line-height: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btnbox_right > button:nth-child(1) {
    margin-right: 10px;
  }

  .btnbox_right > button:nth-child(3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btnbox_right > button:nth-child(1) img,
  .btnbox_right > button:nth-child(3) img {
    display: inline-block;
    width: auto;
    height: 16px;
    margin-right: 3px;
    vertical-align: middle;
  }

  .tablebox {
    display: block;
    margin-top: 15px;
    height: auto !important;
    float: left;
  }
}
