// Template.

.body {
  display: block;
  margin: 90px auto 0;
  width: 100%;
  min-width: 1440px;
  max-width: 1920px;
  height: auto;
  min-height: calc(100vh - 90px);
}

.page {
  display: inline-block;
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header > div {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-width: 1440px;
  max-width: 1920px;
}

.header.v01 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 50px;
  width: 100%;
  height: 90px;
  background-color: #081a51;
  z-index: 100;

  .logo {
    display: block;
    float: left;
    margin: 30px 0;
    padding: 0 !important;
    width: 140px;
    height: auto;
  }

  .menu {
    display: inline-block;
    height: 100%;
    margin-left: 70px;

    ul {
      display: inline-block;
      text-align: center;
      width: auto;
      height: 100%;
    }
    ul > li {
      display: flex;
      align-items: center;
      float: left;
      padding: 0 30px;
      height: 100%;
    }
    ul > li > .nav-link {
      font-size: 18px;
      line-height: auto;
      font-weight: 400;
      color: #fff;
    }
    ul > li > .nav-link span {
      display: block;
      font-size: 13px;
      line-height: 20px;
      font-weight: 100;
      color: #fff !important;
      text-align: left;
    }
    ul.right {
      float: left;
      margin-left: 40px;
    }
    ul.left {
      width: 200px;
    }
    ul.left > li {
      width: 100%;
      padding: 0;
      background-color: #1d2f6f;
    }
    ul.left > li > .nav-link {
      width: 100%;
      text-align: center;
      font-size: 22px;
    }
    ul.left > li > .nav-link span {
      width: 100%;
      text-align: center;
    }
    ul > li.on {
      background-color: #f8f9ff;
    }
    ul > li.on > .nav-link,
    ul > li.on > .nav-link span {
      color: #081a51 !important;
      font-weight: 400;
    }
  }
}

.member {
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
}
.member > span,
.member > .nav-link span {
  display: block;
  float: left;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  cursor: pointer;
  font-weight: 400;
}
.member > .cscenter {
  margin-right: 30px;
}
.member > .nav-link {
  display: block;
  float: left;
  margin: 20px 0 !important;
  cursor: pointer;
}

.member > .icon_calculator {
  margin-top: 3px;
  margin-right: 3px;
  width: 16px;
}
.member > .nav-link.mcalculator,
.member > .nav-link.bcalculator,
.member > .nav-link.icon_member,
.member > .nav-link.icon_power,
.member > .nav-link.cschat {
  padding: 0;
  margin: 5px !important;
}

.member .icon_kakao {
  display: block;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  width: 16px;
}

.member .name {
  margin: 15px 5px 15px 10px !important;
  cursor: default;
}

.member > .nav-link > img {
  display: block;
  width: auto;
  height: 20px;
}

.member > ul {
  position: absolute;
  top: 70px;
  right: 50px;
  display: none;
  width: 120px;
  height: auto;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
}
.member > ul > li {
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
.member:hover + ul {
  display: inline-block;
}

.footer > .menubox {
  display: inline-block;
  width: 100%;
  height: auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.footer > .menubox > ul,
.footer > .informbox {
  display: table;
  margin: 0 auto;
  width: 1200px;
  height: auto;
}

.footer > .menubox > ul > li {
  display: inline-block;
  float: left;
  margin: 5px 0 7px 30px;
  padding-right: 30px;
  width: auto;
  height: auto;
  border-right: 1px solid #ddd;
}

.footer > .menubox > ul > li > a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.footer > .menubox > ul > li > a:hover {
  text-decoration: underline;
  color: #081a51;
}

.footer > .informbox {
  display: flex;
}

.footer > .informbox > img {
  display: block;
  float: left;
  padding: 20px 30px;
  width: 20%;
  height: auto;
  opacity: 20%;
}

.footer > .informbox > dl {
  display: block;
  float: right;
  padding: 20px 0 20px 50px;
  width: 80%;
  height: auto;
}

.footer > .informbox > dl > dd {
  font-size: 14px;
  line-height: normal;
}

.footer > .informbox > dl > dd:first-child {
  margin-bottom: 10px;
  color: #081a51;
  font-size: 16px;
  font-weight: 600;
}

.footer > .informbox > dl > dd.left {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #bbb;
}

// .header.new
.header.v02 {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 50px;
  width: 100%;
  min-width: 1440px;
  height: 90px;
  background-color: #081a51;
  z-index: 100;

  .btn_arrow_back {
    display: none;
  }

  .logo {
    display: block;
    float: left;
    margin: 30px 0;
    padding: 0 !important;
    width: 140px;
    height: auto;
  }

  nav {
    width: 100%;
    height: 100%;

    ul {
      margin: 0;
      height: auto;
      min-height: 100%;
      text-align: center;
      padding: 0;

      li {
        float: left;
        height: 90px;

        .nav-link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          font-size: 18px;
          line-height: normal;
          font-weight: 400;
          color: #fff;

          p {
            margin-bottom: 0;
            width: 100%;
            height: auto;
          }

          span {
            display: block;
            font-size: 13px;
            line-height: 20px;
            font-weight: 100;
            color: #fff !important;
            text-align: left;
          }
        }

        .sub-menu {
          position: absolute;
          right: 0;
          padding: 10px 0 20px;
          width: 200px;
          overflow: hidden;
          visibility: hidden;
          z-index: 99;
          background-color: #081a51;

          li {
            transition: top 200ms linear;
            visibility: hidden;
            padding: 5px 0;
            width: 100%;
            height: auto;

            a {
              white-space: nowrap;
              text-transform: none;
              height: 30px;
              padding: 0;

              span {
                font-size: 15px;
                font-weight: 400;
              }
            }

            &:nth-child(1) {
              top: -45px;
              z-index: 5;
            }

            &:nth-child(2) {
              top: -90px;
              transition-duration: 300ms;
              z-index: 4;
            }

            &:nth-child(3) {
              top: -135px;
              transition-duration: 400ms;
              z-index: 3;
            }

            &:nth-child(4) {
              top: -180px;
              transition-duration: 500ms;
              z-index: 2;
            }

            &:nth-child(5) {
              top: -225px;
              transition-duration: 600ms;
              z-index: 1;
            }
          }
        }

        // &:hover {
        //   .sub-menu {
        //     visibility: visible;
        //     li {
        //       top: 0;
        //       visibility: visible;
        //     }
        //   }
        // }
      }

      li.on {
        background-color: #f8f9ff;

        .nav-link p {
          color: #081a51 !important;
          font-weight: 600;

          span {
            color: #081a51 !important;
            font-weight: 400;
          }
        }
      }
    }

    ul.left {
      margin-left: 100px;
      width: 200px;

      li {
        width: 100%;
        padding: 0;
        background-color: #1d2f6f;

        .nav-link {
          width: 100%;
          text-align: center;
          font-size: 22px;

          span {
            width: 100%;
            text-align: center;
          }
        }
      }

      li.on {
        background-color: #f8f9ff;

        .nav-link p {
          color: #081a51 !important;
          font-weight: 600;

          span {
            color: #081a51 !important;
            font-weight: 400;
          }
        }
      }
    }

    ul.center {
      float: left;
      margin-left: 70px;

      li {
        float: left;
        padding: 0 30px;
      }
    }
  }

  .btn_hamburger {
    display: none;
  }

  ul.burder {
    position: fixed;
    top: 50px;
    left: 0;
    display: none;
    float: right;
    width: 100%;
    height: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.1);
  }

  ul.burder > li {
    float: right;
    padding: 30px;
    width: 70%;
    max-width: 300px;
    height: 100%;
    background-color: #fff;

    ul.sub-menu {
      li {
        a {
          font-size: 20px;
          color: #081a51;
          font-weight: 600;
        }
      }

      li.small {
        a {
          font-size: 16px;
          color: #758191;
          font-weight: 500;
        }
      }

      li.line {
        margin: 30px 0;
        border-top: 1px dotted #ccc;
      }
    }
  }

  ul.burder.on {
    .sub-menu {
      visibility: visible;
      li {
        top: 0;
        visibility: visible;
      }
    }
  }
}

.header.v02.home {
}
